@{
    ViewData["Title"] = "Thanks Page";
}
@model GuestMessage

<div class="text-center">
    <h1 class="display-4">Спасибо,@Model.Fio Ваша заявка обрабатываеться</h1>
    <p>Learn about me</p>
</div>
